<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <constructor-arg name="brokerURL" value="${embeddedBroker.url}"/>
    </bean>

    <bean id="connection" class="org.apache.activemq.ActiveMQConnection"
          depends-on="broker"
          factory-bean="connectionFactory"
          factory-method="createConnection">
    </bean>

    <bean id="session" class="org.apache.activemq.ActiveMQQueueSession"
          factory-bean="connection"
          factory-method="createSession">
        <constructor-arg index="0" value="false"/>
        <constructor-arg index="1" value="1"/>
    </bean>

    <bean id="destination" class="org.apache.activemq.ActiveMQQueueSession"
          factory-bean="session"
          factory-method="createQueue">
        <constructor-arg value="${queueName}"/>
    </bean>

    <bean id="consumer" class="org.apache.activemq.ActiveMQMessageConsumer"
          factory-bean="session"
          factory-method="createConsumer">
        <constructor-arg ref="destination"/>
    </bean>

    <bean id="producer" class="org.apache.activemq.ActiveMQMessageProducer"
          factory-bean="session"
          factory-method="createProducer">
        <constructor-arg ref="destination"/>
    </bean>

    <bean id="broker" class="EmbeddedBroker"
          init-method="runBroker">
    </bean>

    <bean id="sender" class="MessageSender" depends-on="broker" init-method="sendMessage">
        <property name="messageProducer" ref="producer"/>
        <property name="connection" ref="connection"/>
        <property name="session" ref="session"/>
    </bean>

    <bean id="receiver" class="MessageReceiver" depends-on="broker" init-method="receiveMessage">
        <property name="messageConsumer" ref="consumer"/>
        <property name="connection" ref="connection"/>
        <property name="saveInDB" ref="saveInDB"/>
    </bean>

    <bean id="sqlConnectionFactory" class="SqlConnectionFactory"/>

    <bean id="sqlConnection" class="java.sql.Connection"
          factory-bean="sqlConnectionFactory"
          factory-method="getConnection">

    </bean>

    <bean id="saveInDB" class="SaveInDB">
        <property name="connection" ref="sqlConnection"/>
    </bean>

</beans>